### Homework Excersise #1 - Find the Mean for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [1]:
import numpy as np
import pandas as pd

# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'

# step 2: Group by the 'Team' column and get total home runs and rbi's

# Produce data for both 2017 and 2018

# Extra Credit - Concatenate your 2 final dataframes into one dataframe output

In [62]:
bos17 = pd.read_csv('../../files/redsox_2017_hitting.txt', sep = ',')
bos18 = pd.read_csv('../../files/redsox_2018_hitting.txt', sep = ',')

bos17['Team'] = 'BOS-2017'
stats17 = bos17.groupby(['Team']).sum()[['HR','RBI']]

bos18['Team'] = 'BOS-2018'
stats18 = bos18.groupby(['Team']).sum()[['HR','RBI']]

combined_stats = [stats17, stats18]

result = pd.concat(combined_stats)
result

           HR  RBI
Team
BOS-2017  168  735
BOS-2018  208  826

## Find the average age of runners in the 2017 Boston Marathon

In [65]:
marathon = pd.read_csv('../../files/boston_marathon2017_edited.csv', sep = ',')

marathon['Title'] = 'Runner'
marathon.groupby(['Title']).mean()[['Age']]

              Age
Title
Runner  42.587732